In [5]:
import pandas as pd
import numpy as np

# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 

# Read in the airports data.
airports = pd.read_csv("data/airports.dat", header=None, na_values='\\N')
airports.columns = ["ID", "NAME", "CITY", "COUNTRY", "IATA", "ICAO", "LATITUDE", "LONGITUDE", "ALTITUDE", "TIMEZONE", "DST", "TZ", "TYPE", "SOURCE"]

# Read in the airlines data.
airlines = pd.read_csv("data/airlines.dat", header=None, na_values='\\N')
airlines.columns = ["ID", "NAME", "ALIAS", "IATA", "ICAO", "CALLSIGN", "COUNTRY", "ACTIVE"]

# Read in the routes data.
routes = pd.read_csv("data/routes.dat", header=None, na_values='\\N')
routes.columns = ["AIRLINE", "AIRLINE_ID", "SOURCE", "SOURCE_ID", "DEST", "DEST_ID", "CODESHARE", "STOPS", "EQUIPMENT"]

# Read in the planes data.
planes = pd.read_csv("data/planes.dat", header=None, na_values='\\N')
planes.columns = ["NAME", "IATA", "ICAO"]

# Read in the countries data.
countries = pd.read_csv("data/countries.dat", header=None, na_values='\\N')
countries.columns = ["NAME", "ISO", "DAFIF"]

In [6]:
# routes
flyFromCity = "LEX"
flyToCity = "BOM"
df = routes[(routes['SOURCE']==flyFromCity) &  (routes['SOURCE']==None)]
df

Empty DataFrame
Columns: [AIRLINE, AIRLINE_ID, SOURCE, SOURCE_ID, DEST, DEST_ID, CODESHARE, STOPS, EQUIPMENT]
Index: []

In [7]:
import time
import progressbar

def get_cityIATAname(city_name):
    df = airports[airports["CITY"].str.casefold() ==str(city_name).casefold()]
    if len(df)>0:
        nameIATA = airports[airports["CITY"].str.casefold() ==str(city_name).casefold()]["IATA"]          
    return nameIATA

def get_direct_connection(flyFromCity_IATA,flyToCity_IATA):
    df = routes[(routes['SOURCE']==flyFromCity_IATA) &  (routes['DEST']==flyFromCity_IATA)]
    return df

def get_connection(start,goal,transfers):
    setConnections.add(str(start))
    if transfers>-1:
        transfers-=1
    else:
        transfers=0
    strConnection=""
    df = routes[(routes['SOURCE']==start)]
    Connections = df["DEST"].unique()
    for connection in Connections:
        if connection not in setConnections:
            dfConn = get_direct_connection(connection,goal,transfers)
            if dfConn.empty()==True:
                get_connection(connection,goal)
            else:
                strConnection = str(dfConn["SOURCE"]) + "-->" + str(dfConn["DEST"])

In [3]:
# Describe the situation: from --> to city, number of transfers acceptable
setConnections = set()
dNodes = []
flyFromCity = "Lexington"
flyToCity = "Mumbai"
noTransfers = 2
# get IATA code for the respective cities
flyFromCity_IATA = get_cityIATAname(flyFromCity)
flyToCity_IATA = get_cityIATAname(flyToCity)
dfDirect = get_direct_connection(flyFromCity_IATA,flyToCity_IATA)
# map out possibility of reaching destination from the source
i=0
if dfDirect.empty:
    get_connection(flyFromCity_IATA,flyToCity_IATA,noTransfers)
    print(flyFromCity + "-->"+path)
else:
    dNodes.add(str(flyFromCity_IATA), str(flyToCity_IATA))
    print(dfDirect["SOURCE"] + "-->" + dfDirect["DEST"])

ValueError: Can only compare identically-labeled Series objects

In [11]:
airports["CITY"].str.casefold()

0             goroka
1             madang
2        mount hagen
3             nadzab
4       port moresby
            ...
7179           rugao
7180            wuhu
7181        shanshan
7182         yingkou
7183        shenyang
Name: CITY, Length: 7184, dtype: object

In [22]:
import time
import progressbar

searchedairportset = {}

def get_cityIATAname(city_name):
    df = airports[airports["CITY"].str.casefold() ==str(city_name).casefold()]
    if len(df)>0:
        nameIATA = airports[airports["CITY"].str.casefold() ==str(city_name).casefold()]["IATA"]          
    return nameIATA

def searchAirport(city_name):
    if airports["IATA"].str.find(city_name) == True:
        nameIATA = airports["IATA"].str.find(city_name)          
    return city_name

In [24]:
def start_code():
    
#     airports[airports["IATA"] ==str(flyFromCity)]
    
#     airports["IATA"].str.find(city_name)
    
    # check if the city exists in the Airport List
    flyFromCity_IATA = get_cityIATAname(flyFromCity)
    flyToCity_IATA = get_cityIATAname(flyToCity)
    print(flyFromCity_IATA)
    print(flyToCity_IATA)
    
#     bar = progressbar.ProgressBar(max_value=progressbar.UnknownLength)
#     if (flyFromCity_IATA is not None) & (flytoCity_IATA is not None):
#         # print the progress of the process
#         print("Searching flights between " + flyFromCity_IATA + " and " + flytoCity_IATA)
#         searchedairportset.add(flyFromCity_IATA)
#         # making boolean series for the onward journey from source_airport
#         filter = routes["SOURCE"]=="LEX"
#         # filtering data 
#         routes.where(filter, inplace = True) 
#         routes.info()
#         # for transfer in (noTransfer-1):
#             # intrmdt = get_destination()

In [8]:
flyFromCity = "Lexington KY"
flyFromCity_IATA = get_cityIATAname(flyFromCity)
flyToCity = "Mumbai"
flyToCity_IATA = get_cityIATAname(flyToCity)
print(flyFromCity_IATA[1])
print(flyToCity_IATA[1])

KeyError: 1

In [13]:
flyFromCity = "LEXINGTON KY"
nameIATA = airports[airports["CITY"].str.casefold() ==str(flyFromCity).casefold()]["IATA"]
nameIATA.item()

'LEX'

In [8]:
# making boolean series for a team name 
filter = airports["CITY"]=="LEXINGTON"
  
# filtering data 
airports.where(filter)
  
# display 
airports

,ID,NAME,CITY,COUNTRY,IATA,ICAO,LATITUDE,LONGITUDE,ALTITUDE,TIMEZONE,DST,TZ,TYPE,SOURCE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df = routes[(routes['SOURCE']=="LEX")]
connections = df["DEST"].unique()
print(len(connections))
lAirports = []
lAirports.append("LEX")
i=0
for connection in connections: 
    if connection not in lAirports:
        print(connection)
        i+=1
print(i)

13
ATL
CLT
DFW
ORD
DCA
DTW
LGA
MSP
FLL
PGD
PIE
SFB
IAH
13

In [8]:
emptySet = set()
emptySet.add("LEX")
if "Mumbai" not in emptySet:
    print(True)
else:
    print("False")

True